### Pair programming estadística inferencial

In [87]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import shapiro, kstest, poisson, chisquare, expon 
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")


from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [88]:
data = pd.read_csv("files/world_data_full_apply_nulos.csv", index_col = 0)

In [89]:
data.head(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

**1.Igual que en los ejercicios de la clase invertida, evalúa si las siguientes afirmaciones corresponden a una distribución exponencial o poisson.**

- ¿El tiempo que transcurre entre la llegada de autobuses a una parada sigue una distribución exponencial o de Poisson?

    Sigue una distribución exponencial porque mide el tiempo que transcurre entre eventos.

- ¿El número de errores en un artículo de noticias sigue una distribución exponencial o de Poisson?

    Poisson porque se cuantifica el número de eventos.

- ¿El tiempo que transcurre entre la llegada de solicitudes de servicio en un restaurante sigue una distribución exponencial o de Poisson?
    
    Sigue una distribución exponencial porque mide el tiempo que transcurre entre eventos porque tiene una duración positiva y los eventos sin independientes.

- ¿El número de accidentes de tráfico en una hora en una ciudad sigue una distribución exponencial o de Poisson?

    Poisson porque se cuantifica el número de eventos.

-  ¿El tiempo entre llegadas de llamadas telefónicas a una central de emergencias sigue una distribución exponencial o de Poisson?
    
    Sigue una distribución exponencial porque mide el tiempo que transcurre entre eventos.

- ¿El número de clientes que ingresan a una tienda en una hora sigue una distribución exponencial o de Poisson?

    Poisson porque se cuantifica el número de eventos.

- ¿El tiempo entre llegadas de correos electrónicos en una bandeja de entrada sigue una distribución exponencial o de Poisson?

    Sigue una distribución exponencial porque mide el tiempo que transcurre entre eventos.

- ¿El número de defectos en una línea de producción por día sigue una distribución exponencial o de Poisson?

    Poisson porque se cuantifica el número de eventos.

- ¿El tiempo que transcurre entre la llegada de taxis en una parada sigue una distribución exponencial o de Poisson?

    Sigue una distribución exponencial porque mide el tiempo que transcurre entre eventos.

- ¿El número de errores de ortografía en un libro de texto sigue una distribución exponencial o de Poisson?

    Poisson porque se cuantifica el número de eventos.

**2.Ejercicios intervalo de confianza. Al igual que en el caso del ejercicio de la clase invertida, piensa un motivo por el que sería interesante calcular estos intervalos de confianza para la extracción de insights.**

In [90]:
data.head(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

1. Calcular la media de la columna :  media_duracion = df["duration"].mean()
	2. Calcular el error estándar: error_duracion = stats.sem(df["duration"])
	3. Definir el nivel de confianza nivel_confianza_duracion = 0.95
	4. Calcular los grados de libertad: grados_libertad_duracion = len(df["duration"]) - 1
	5. Calcular el valor crítico de la muestra: stats.t.ppf((1 + nivel_confianza_duracion) / 2, df=grados_libertad_duracion)
	6. Calcular el intervalo de confianza: 
	limite_inferior_duracion = media_duracion - valor_critico_duracion * error_duracion
limite_superior_duracion = media_duracion + valor_critico_duracion * error_duracion

**Intervalo de Confianza para la Esperanza de Vida**

Contexto: Trabajas en una organización de salud global y deseas estimar el intervalo de confianza al 95% para la esperanza de vida promedio de cada continente.

Nota: Cuidado porque puede que os salgan algunos nulos, genera un código para que no salgan nulos en los intervalos de confianza.

In [91]:
# Se sustiyuen los nulos por la mediana
data["life_expectancy"]= data["life_expectancy"].fillna(data["life_expectancy"].median())

In [92]:
(data["life_expectancy"].isna().sum()/data.shape[0] )*100

0.0

In [93]:
media_lifexp = data["life_expectancy"].mean()

In [94]:
error_lifexp = stats.sem(data["life_expectancy"])

In [95]:
nivel_lifexp = 0.95

In [96]:
grados_lifexp = len(data["life_expectancy"]) - 1

In [97]:
valor_critico_lifexp = stats.t.ppf((1 + nivel_lifexp ) / 2, df=grados_lifexp )

In [98]:
limite_inferior_lifexp = media_lifexp - valor_critico_lifexp * error_lifexp
limite_superior_lifexp = media_lifexp + valor_critico_lifexp * error_lifexp

In [99]:
print(f"Nuestro intervalo de confianza para un nivel del 95% está entre: {limite_inferior_lifexp} y {limite_superior_lifexp}")

Nuestro intervalo de confianza para un nivel del 95% está entre: 71.28216591512167 y 73.35270587975008

**Intervalo de Confianza para el PIB**

Contexto: Eres una economista y quieres calcular el intervalo de confianza al 90% para el Producto Interno Bruto (PIB) de los continentes.

In [100]:
data.head(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,73.2,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

In [101]:
data["gdp"].isna().sum()

2

In [102]:
data["gdp"]= data["gdp"].fillna(data["gdp"].median())

In [103]:
(data["gdp"].isna().sum()/data.shape[0] )*100

0.0

In [104]:
media_pib = data["gdp"].mean()
error_pib = stats.sem(data["gdp"])
nivel_pib = 0.90
grados_pib = len(data["gdp"]) - 1
valor_critico_pib = stats.t.ppf((1 + nivel_pib ) / 2, df=grados_pib )
limite_inferior_pib = media_pib - valor_critico_pib * error_pib
limite_superior_pib = media_pib + valor_critico_pib * error_pib

In [105]:
print(f"Nuestro intervalo de confianza para un nivel del 90% está entre: {limite_inferior_pib} y {limite_superior_pib}")

Nuestro intervalo de confianza para un nivel del 90% está entre: 216938197161.98798 y 728568299546.5557

**Intervalo de Confianza para la Tasa de Natalidad**

Contexto: Trabajas en una agencia gubernamental que se ocupa de cuestiones demográficas y deseas determinar el intervalo de confianza al 99% para la tasa de natalidad promedio en Asia.

In [106]:
data["birth_rate"].isna().sum()

6

In [107]:
data["birth_rate"]= data["birth_rate"].fillna(data["birth_rate"].median())

In [108]:
(data["birth_rate"].isna().sum()/data.shape[0] )*100

0.0

In [109]:
media_birthrate = data["birth_rate"].mean()
error_birthrate = stats.sem(data["birth_rate"])
nivel_birthrate = 0.99
grados_birthrate = len(data["birth_rate"]) - 1
valor_critico_birthrate = stats.t.ppf((1 + nivel_birthrate ) / 2, df=grados_birthrate )
limite_inferior_birthrate = media_birthrate - valor_critico_birthrate * error_birthrate
limite_superior_birthrate = media_birthrate + valor_critico_birthrate * error_birthrate
print(f"Nuestro intervalo de confianza para un nivel del 99% está entre: {limite_inferior_birthrate} y {limite_superior_birthrate}")

Nuestro intervalo de confianza para un nivel del 99% está entre: 18.319890638106166 y 21.970673464457924

**Intervalo de Confianza para la Tasa de Desempleo**

Contexto: Eres un analista de políticas públicas y deseas calcular el intervalo de confianza al 95% para la tasa de desempleo promedio en los países de Oceanía.

In [110]:
data["continent"].isna().sum()

1

In [111]:
data['continent'].index[data['continent'].isnull()]

Int64Index([150], dtype='int64')

In [112]:
data.iloc[150, :]

country                                 S�����������
density                                        228.0
abbreviation                                      ST
agricultural_land                               50.7
land_area                                      964.0
armed_forces_size                                1.0
birth_rate                                     31.54
calling_code                                   239.0
capital/major_city                             S����
co2-emissions                                  121.0
cpi                                           185.09
cpi_change                                       7.9
currency-code                                    STN
fertility_rate                                  4.32
forested_area                                   55.8
gasoline_price                                   NaN
gdp                                      429016605.0
gross_primary_education_enrollment             106.8
gross_tertiary_education_enrollment             13.4
infant_mortality                                24.4
largest_city                                   S����
life_expectancy                                 70.2
maternal_mortality_ratio                       130.0
minimum_wage                                     NaN
official_language                                NaN
out_of_pocket_health_expenditure                11.7
physicians_per_thousand                         0.05
population                                   215.056
population_labor_force_participation            57.8
tax_revenue                                     14.6
total_tax_rate                                  37.0
unemployment_rate                              13.37
urban_population                             158.277
latitude                                         NaN
longitude                                        NaN
continent                                        NaN
Name: 150, dtype: object

In [113]:
data["country"][150]= 'Sao Tome and Principe'
data["capital/major_city"][150]= 'Sao Tome'
data["largest_city"][150]= 'Sao Tome'
data["continent"][150] = "Africa"

In [114]:
data_oceania = data[data["continent"] == "Oceania"]

In [115]:
data_oceania.head(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
8,Australia,3.0,AU,48.2,NaN,58.0,12.60,61.0,Canberra,375.908,119.80,1.6,AUD,1.74,16.3,0.93,1.392681e+12,100.3,113.1,3.1,Sydney,82.7,6.0,13.59,NaN,19.6,3.68,NaN,65.5,23.0,47.4,5.27,NaN,-25.274398,133.775136,Oceania
58,Fiji,49.0,FJ,23.3,18.274,4.0,21.28,679.0,Suva,2.046,132.30,1.8,FJD,2.77,55.9,0.82,5.535549e+09,106.4,16.1,21.6,Suva,67.3,34.0,1.28,Fiji Hindi,21.4,0.84,889.953,57.6,24.2,32.1,4.10,505.048,-17.713371,178.065032,Oceania
89,Kiribati,147.0,KI,42.0,811.000,NaN,27.89,686.0,South Tarawa,66.000,99.55,0.6,AUD,3.57,15.0,NaN,1.946472e+08,101.3,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.2,0.20,117.606,NaN,22.0,32.7,NaN,64.489,1.836898,-157.376832,Oceania
107,Marshall Islands,329.0,MH,63.9,181.000,NaN,29.03,692.0,Majuro,143.000,NaN,NaN,USD,4.05,70.2,1.44,2.212780e+08,84.7,23.7,27.4,Majuro,65.2,NaN,2.00,Marshallese,10.0,0.42,58.791,NaN,17.8,65.9,NaN,45.514,7.131474,171.184478,Oceania
111,Federated States of Micronesia,784.0,FM,31.4,702.000,NaN,22.82,691.0,Palikir,143.000,112.10,0.5,USD,3.05,91.9,NaN,4.019323e+08,97.2,14.1,25.6,Palikir,67.8,88.0,NaN,English,2.5,0.18,113.815,NaN,25.2,60.5,NaN,25.963,7.425554,150.550812,Oceania

In [116]:
data_desempleo = data[data['continent'] == 'Oceania'][['unemployment_rate', 'continent']].reset_index(drop=True)

In [124]:
print(f'el valor de los nulos representa {np.round(data_desempleo["unemployment_rate"].isna().sum()/data_desempleo["unemployment_rate"].shape[0] *100,2)} de los datos por tanto, analizaremos una muestra más pequeña')

el valor de los nulos representa 42.86 de los datos por tanto, analizaremos una muestra más pequeña

In [128]:
data_desempleo.dropna(inplace=True)

data_desempleo

    unemployment_rate continent
0                5.27   Oceania
1                4.10   Oceania
6                4.07   Oceania
8                2.46   Oceania
9                8.36   Oceania
10               0.58   Oceania
11               1.12   Oceania
13               4.39   Oceania

In [129]:
media_unemployment_rate = data_desempleo["unemployment_rate"].mean()
error_unemployment_rate = stats.sem(data_desempleo["unemployment_rate"])
nivel_unemployment_rate = 0.95
grados_unemployment_rate = len(data_desempleo["unemployment_rate"]) - 1
valor_critico_unemployment_rate = stats.t.ppf((1 + nivel_unemployment_rate ) / 2, df=grados_unemployment_rate )
limite_inferior_unemployment_rate = media_unemployment_rate - valor_critico_unemployment_rate * error_unemployment_rate
limite_superior_unemployment_rate = media_unemployment_rate + valor_critico_unemployment_rate * error_unemployment_rate
print(f"Nuestro intervalo de confianza para un nivel del 95% está entre: {limite_inferior_unemployment_rate} y {limite_superior_unemployment_rate}")

Nuestro intervalo de confianza para un nivel del 95% está entre: 1.7262344152587312 y 5.861265584741268

**Intervalo de Confianza para la Tasa de Impuestos**

Contexto: Trabajas en un ministerio de finanzas y deseas estimar el intervalo de confianza al 90% para la tasa de impuestos promedio en los países de África.

**3. Ejercicios prueba de hipótesis: Hasta ahora en la lección y en los ejercicios de la clase invertida os hemos propuesto un contexto y unas hipótesis para entender que es la prueba de hipótesis. Ahora es tu turno, tienes que pensar en 2 hipótesis que quieras aceptar o rechazar usando una prueba de hipótesis en base a los datos que tenemos.**

In [130]:
data.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,73.2,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

- Primera hipótesis: \n
    
H0: No hay relación entre el tamaño de las fuerzas armadas y el PIB de los países \n

H1: El tamaño de las fuerzas armadas es mayor en aquellos países con el PIB más elevado

- Segunda hipótesis:

H0: No hay correlación significativa entre la tasa de desempleo y el % de población que vive en areas urbanas.

H1: Existe una correlación significativa entre la tasa de desempleo y % de población que vive en areas urbanas